.pricing {
  margin-left: 60px;

  &__title {
    // @include replace-font(700, 32px, 40px);
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  &__des {
    // @include replace-font(400, 13px, 26px);
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
  }
}
