::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #090B12;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.452);
  border-radius: 50px;

}
.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  margin-right: auto;
  padding: 16px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  // height: calc(100vh - 80px);
  overflow-y: auto;
  // @include scrollbar(rgba(255, 255, 255, 0.2), "#090B12", 5px, #090b12);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  left: 0;
  height: calc(100% - 120px);
  overflow-y: auto;
  &.show-sidebar{
    width: 271px;
    padding: 24px;
    // position: relative;
  
    .menu {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      // width: 100%;
      border-radius: 12px;
      row-gap: 16px;
  
      &__item {
        padding: 11.5px 16px;
        gap: 10px;
      }
    }
    .sidebar__line {
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.1);
      margin-bottom: 16px;
    }
  }
}

.menu {
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
    padding: 25px 6px 22px 6px;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background-color: #1a1d2a;
    }
    &.active {
      background-color: #1a1d2a;
    }
    &.menu__show {
    flex-direction: row;
}
  }
  

  &__des {
    font-size: 14px;
    text-align: center;
    color: white;
  }
  &-show {
    width: 266px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  &__des {
    font-weight: 500;
    margin: 0;
  }
  &__button {
    padding: 8px 23px;
    border-radius: 24px;
    color: white;
    background-color: $blue_btn;
    border: none;
    // @include replace-font(600, 16px);
    font-weight: 600;
    font-size: 16px;
  }
}

.channels-pri {
  width: 100%;
  cursor: pointer;

  &__title {
    // @include replace-font(500, 16px);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }
  .channel {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    &__avatar {
      border-radius: 100%;
      margin-right: 12px;
    }
    &__des {
      display: flex;
      flex-direction: column;
    }
    &__name {
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      margin-bottom: 0;
      &:hover {
        opacity: 0.8;
      }
    }
    &__follow {
      // @include replace-font(500, 14px);
      font-weight: 500;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__view {
    color: #ec2227;
    // @include replace-font(500, 14px);
    font-weight: 500;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.discovery {
  width: 100%;
  &__title {
    // @include replace-font(500, 16px);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  &__tags {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0;
  }
  &__tag {
    padding: 4px 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    border: none;
    list-style: none;
    cursor: pointer;
    // @include replace-font(500, 14px);
    font-weight: 500;
    font-size: 14px;
    a {
      color: white;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
.service {
  width: 100%;
  &__title {
    // @include replace-font(500, 16px);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }
  &__options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
    padding-left: 10px;
  }
  &__option {
    list-style: none;
    display: flex;
    align-items: center;
    // padding: 4px 12px;
    cursor: pointer;
    height: 40px;
  }
  &__des {
    // @include replace-font(500, 14px);
    font-weight: 500;
    font-size: 14px;
    margin-left: 14px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.response {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    gap: 10px;
    margin-bottom: 16px;
    &:hover {
      background-color: #1a1d2a;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  &__title {
    // @include replace-font(600, 14px);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  &__des {
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    span {
      font-weight: 700;
    }
  }
  &__number {
    // @include replace-font(500, 14px, 20px);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    span {
      font-weight: 700;
    }
  }
  &__follow {
    display: flex;
    gap: 8px;
    align-items: center;
    // @include replace-font(700, 14px, 20px);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    p{
      margin: 0;
    }
    
  }
  &__icon {
    cursor: pointer;
  }
  &__download {
    // margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    img {
      cursor: pointer;
    }
  }
}
